body{
	font-family: 'Ubuntu';
}


/*navbar styles*/

.nav-personal-bg{
	background: #e2725b;
}

.nav-personal{
    color: #fefefe !important;
}

.nav-personal:hover {
	color: #3b3b3b !important;
}

.site-address{
	text-decoration: none;
 	color: #3b3b3b;
}

.site-address:hover {
	text-decoration: none;
 	color: black;
}

/*content styles*/

#content{
	width: 920px;
	margin: 10px auto;
	color: #3b3b3b;
	background: white;
}

/*posts*/

#title-post{
	font-size: 1.3em;
	position: relative;
    padding: 20px;
    margin: 10px;
}

.posts{
	width: 920px;
	margin: 10px auto;
}

.card{
	width: 285px;
	margin: 10px;
	float: left;
}

.card img{
	width: 275px;
	margin: 3px;
}

.clear{
	clear: both;
}

.btn-primary {
    color: #fff;
    background-color: #084d6e;
    border-color: #084d6e;
}

.btn-primary:hover{
    color: #fff;
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}

/*footer styles */ 

.footer {
  width: 100%;
  position: absolute;
  text-align: center;
  height: 450px;
  background: #e2725b;
  padding: 15px;
  float: left;
}

.footer-column{
	width: 350px;
	float: right;
	margin-top:34px;
	margin-right: 145px;
	color: #fefefe;
	text-align: justify;
}

.footer-photo{
	width: 420px;
	float: left;
	margin: 5px;
}

.footer-photo img{
	width: 420px;
}