body{
	font-family: 'Ubuntu';
}


/*navbar styles*/

.nav-personal-bg{
	background: #111111;
}

.nav-personal{
    color: #fefefe !important;
}

.nav-personal:hover {
	color: #8b8b8b !important;
}

.nav-link: hover{
	color: #111111 !important;
}

/*content styles*/

#content{
	width: 920px;
	margin: 10px auto;
	color: #3b3b3b;
	background: white;
}

/*posts*/

#title-post{
	font-size: 1.3em;
	position: relative;
    padding: 20px;
    margin: 10px;
}

.posts{
	width: 920px;
	margin: 10px auto;
}

.card{
	width: 285px;
	margin: 10px;
	float: left;
}

.card img{
	width: 275px;
	margin: 3px;
}

.clear{
	clear: both;
}

.btn-primary {
    color: #fff;
    background-color: #e34234;
    border-color: #e34234;
}

.btn-primary:hover{
    color: #fff;
    background-color: #111111;
    border-color: #111111;
}

/*footer styles */ 

.footer {
  width: 100%;
  position: absolute;
  text-align: center;
  height: 450px;
  background: #002366;
  padding: 15px;
  float: left;
}

.footer-column{
	width: 350px;
	float: right;
	margin-top:34px;
	margin-right: 145px;
	color: #fefefe;
	text-align: justify;
}

.footer-column h2{
	color: #d4af37;
	text-align: center;
}

.footer-photo{
	width: 420px;
	float: left;
	margin: 5px;
}

.footer-photo img{
	width: 420px;
}