body{
	font-family: 'Helvetica';
}

/*navbar styles*/

.nav-personal-bg{
	background: #111111;
}

.nav-personal{
    color: #fefefe !important;
}

.nav-personal:hover {
	color: #8b8b8b !important;
	font-weight: bold;
}

.nav-menu{
	color: #151515 !important;
	padding: 10px;
	margin: 10px;
	font-size: 1.12em;
}

.nav-menu:hover{
	color: #8b8b8b !important;
}

.nav-menu.home-menu,
.nav-menu.dicas-menu,
.programmer-menu{
	color: #565656 !important;
	font-weight: bold;
}

.dropdown-item:hover{
	color: #8b8b8b !important;
}


/* jumbotron styles */
.important-post{
	border-radius: 0;
	width: 100%;
	background-image: url("../images/linkedin.png");
}

.important-post h1{
	color: #111111;
	font-weight: bold;
}

.lead{
	width: 760px;
	margin: 25px;
	padding: 10px;
	color: #111111;
}

.readmore{
	text-decoration: none;
	color: #002366;
	font-weight: bold;
}

.readmore:hover {
	color: #111111 !important;
	text-decoration: none;
}

.carousel-inner{
	height: 380px;
}

/*content styles*/

#content{
	margin: 10px auto;
	color: #3b3b3b;
	background: white;
	width: 920px;
}

/*posts*/

#title-post{
	font-size: 1.3em;
	position: relative;
    padding: 20px;
    margin: 10px;
    color: #111111 !important;
}

#title-post h4{
	font-weight: bold;
}

.posts{
	width: 920px;
	margin: 10px auto;
}

.card{
	width: 285px;
	margin: 10px;
	float: left;
}

.card img{
	width: 275px;
	margin: 3px;
}

.clear{
	clear: both;
}

.card-body h5{
	font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #e34234;
    border-color: #e34234;
}

.btn-primary:hover{
    color: #fff;
    background-color: #111111;
    border-color: #111111;
}


/*footer styles */ 

.footer {
  width: 100%;
  position: absolute;
  text-align: center;
  height: 450px;
  background: #002366;
  padding: 15px;
  float: left;
}

.footer-column{
	width: 350px;
	float: right;
	margin-top:34px;
	margin-right: 145px;
	color: #fefefe;
	text-align: justify;
}

.footer-column h2{
	color: #ffdc99;;
	text-align: center;
	font-weight: bold;
}

.footer-photo{
	width: 420px;
	float: left;
	margin: 5px;
}

.footer-photo img{
	width: 420px;
}