/*contact style */

#contact{
	width: 97%;
	color: #111d27;
	float: left;
}

.message{
	width: 50%;
	text-align: justify;
    float: left;
    margin: 15px;
    padding: 15px;
}

.input-form {
	width: 375px;
}

label{
	font-weight: bold;
}

textarea{
	height: 150px;
}

.submit-form{
  background-color: #124964;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Ubuntu';
}