/*styles of blog*/

/*colors hex*/

/*
	#fefefe - snow white

	#e2725b - terra cota (rosa)

	#124964 - azul petróleo

	#3b3b3b - escala de cinzentos 

	#111d27 - ??

*/

/*general styles */ 

body{
	font-family: 'Ubuntu';
}

div{
	max-width: 100%;
}

.fa {
	padding: 5px;
}

.clear{
	clear: both;
}

/*headers */

#header{
	width: 100%;
}

#header-two{
	width: 100%;
}


/*personal styles*/

.personal{
	text-decoration: none;
	font-size: 0.85em;
	padding: 5px;
	color: #fefefe;
}

a.personal-social{
	text-align: center;
    display:inline-block;
    margin:-8px auto;
}

.personal-social{
	text-decoration: none;
	font-size: 0.95em;
	padding: 5px;
	float: right;
	color: #fefefe;
}

#personal{
	background: #124964;
	padding: 15px;
	font-weight: bold;

}

/*mudar a cor ao passar mouse por cima do elemento <a> */
#personal a:hover {
  color: #e2725b;
}

/* menu styles*/

/*retirar elementos do elemento <a> */
 li a {
 	text-decoration: none;
 	color: #3b3b3b;
 	padding: 10px;
 }

/*mudar a cor ao passar mouse por cima do elemento <a> */
 li a:hover {
  color: #e2725b;
}

#menu{
	border: 1px solid;
	border-color: white white #C1C1C0 white;
}

.menu-item{
	float: left;
	font-weight: bold;
	margin: 40px;
}

.menu-principal{
    list-style-type: none;
    display: flex;
    padding-left: 145px;
    margin-top: -124px;
}

/*site address styles*/

#site-address {
	padding: 35px;
	color: #3b3b3b;
}

.site-address{
	text-decoration: none;
 	color: #3b3b3b;
}

/*mudar a cor ao passar mouse por cima do elemento <a> */
a:hover {
  color: #e2725b;
}

/*container style */

#container{
	width: 100%;
}

#container-about-me{
	width: 100%;
}

/* principal style */

#principal{
	width: 97%;
	color: #111d27;
}

/*publications style */

#publications{
	width: 60%;
	float: left;
	color: #111d27;
}

#title{
	border: 2px solid;
	border-color: white white #b1c0cd white;
	color: #111d27;
	border-right-width: 150px;
}

.column img{
	width: 280px;
}

.column{
	width: 43%;
	float: left;
	margin: 10px;
	padding: 10px;
}


/*sidebar*/

#sidebar{
	width: 30%;
	float: right;
	margin-top:104px;
	margin-right: 3%;
}

.portifolio-home-page img{
	width: 250px;
}

.portifolio-home-page{
	width: 300px;
	float: left;
	margin: 25px;
	padding: 10px;
}

#title-sidebar{
	border: 2px solid;
	border-color: white white #b1c0cd white;
	color: #111d27;
	border-right-width: 150px;
}


/*footer style */

.footer {
  width: 98%;
  position: absolute;
  text-align: center;
  height: 450px;
  background: #e2725b;
  padding: 15px;
  float: left;
}

.footer-column{
	width: 350px;
	float: right;
	margin-top:65px;
	margin-right: 145px;
	color: #fefefe;
	text-align: justify;
}

.footer-photo{
	width: 420px;
	float: left;
	margin: 25px;
}

.footer-photo img{
	width: 420px;
}