/* style of layout page */

.dicas{
	width: 1230px;
	margin: 5px auto;
}

.nav-dicas{
	width: 300px;
	float: right;
	margin: 5px;
	padding: 15px;
}

.posts-dicas{
	float: left;
	width: 910px;
}

.category-linkedin{
	width: 300px;
	float: right;
	margin: 5px;
	padding: 15px;
}
.category-linkedin img{
	width: 200px;
	margin: 5px;
	padding: 15px;
}

/* sytle of cards */

#nav-tittle-dicas{
	text-align: center;
}

.nav-dicas h5{
	font-weight: bold;
}

.card_category{
	margin-left: 22px;
	width: 230px;
	padding: 5px;
}

.card_dicas{
	width: 280px;
	margin: 10px;
}

.card_dicas img{
	width: 270px;
	margin: 5px;
}

h5.card-title{
	color: #111111;
}

#title-dicas{
	padding-top: 25px;
}

#title-dicas h4{
	font-weight: bold;
}

.nav-pagination{
	margin-left: 15px;
}

/* sytle of links */

.link-dicas{
	color: #111111;
}

.link-dicas:hover{
	color: #002366;
	text-decoration: none;
	font-weight: bold;
}

.card-link{
	color: #111111;
	font-weight: bold;
}

.card-link:hover{
	color: #191970;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #111111;
    border-color: #111111;
}

.page-link{
	color: #454545;
}

.page-link:hover{
	color: #111111;
}

.linkedin{
	color: #565656 !important;
	font-weight: bold;
}

/*style geral of posts */

.tittle-posts-dicas{
	margin: 10px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

.tittle-posts-dicas h3{
	font-weight: bold;
	color:#111111;
	font-size: 2em;
}

.date-post{
	font-size: 1.05em;
}

strong.date-strong{
  color: #002366;
}

.image-post img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.content-posts-dicas{
	width: 850px;
	margin: 10px auto;
	font-size: 1.2em;
	text-align: justify;
	padding: 10px;
}

.link-post{
	font-weight: bold;
	color: #002366;
}

/*style linkedin-category */

#why-linkedin,
#destaque-linkedin{
	width: 920px;
	margin: 10px auto;
}