/*styles of blog*/

/*general styles */ 

body{
	font-family: 'Ubuntu';
}

div{
	max-width: 100%;
}

.fa {
	padding: 5px;
}

.clear{
	clear: both;
}

/*headers */

#header{
	width: 100%;
}

#header-two{
	width: 84%;
	float: right;
}

/* sidebar style */

.sidebar-dicas{
	height: 900px; 
}

.menu-dicas{
    width: 15%;
    float: left;
    background:#e2725b;
	color: #fffdd0;
	height: 176%;
}

.topicos{
	padding: 5px;
    margin: 5px;
    margin-top: 75px;
}

.topicos h3 {
	text-align: center;
}

.topicos a {
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 5px;
}

/*principal style*/

#principal{
	width: 77%;
	color: #454647;
	float: right;
}

#publications{
	width: 83%;
    float: left;
    margin: 10px;
    color: #454647;
}

#title{
	border: 2px solid;
	border-color: white white #b1c0cd white;
	color: #454647;
	border-right-width: 150px;
}

.column img{
	width: 280px;
}

.column{
	width: 43%;
	float: left;
	margin: 10px;
	padding: 10px;
}


/*site address styles*/

#site-address {
	padding: 35px;
	color: #3b3b3b;
	float: right;
	width: 77%;
}

.site-address{
	text-decoration: none;
 	color: #3b3b3b;
}

/*mudar a cor ao passar mouse por cima do elemento <a> */
a:hover {
  color: #084d6e;
}


/*personal styles*/

.personal{
	text-decoration: none;
	font-size: 0.85em;
	padding: 5px;
	color: #fffdd0;
}

a.personal-social{
	text-align: center;
    display:inline-block;
    margin:-8px auto;
}

.personal-social{
	text-decoration: none;
	font-size: 0.95em;
	padding: 5px;
	float: right;
	color: #fffdd0;
}

#personal{
	background: #124964;;
	padding: 15px;
	font-weight: bold;

}

/*mudar a cor ao passar mouse por cima do elemento <a> */
#personal a:hover {
  color: #2f4f4f;
}

/* menu styles*/

/*retirar elementos do elemento <a> */
 li a {
 	text-decoration: none;
 	color: #3b3b3b;
 	padding: 10px;
 }

/*mudar a cor ao passar mouse por cima do elemento <a> */
 li a:hover {
  color: #084d6e;
}

#menu{
	border: 1px solid;
	border-color: white white #C1C1C0 white;
}

.menu-item{
	float: left;
	font-weight: bold;
	margin: 40px;
}

.menu-principal{
    list-style-type: none;
    display: flex;
    padding-left: 145px;
    margin-top: -124px;
}



/*footer style */

.footer {
  width: 98%;
  position: absolute;
  text-align: center;
  height: 450px;
  background: #e2725b;;
  padding: 15px;
  float: left;
}

.footer-column{
	width: 350px;
	float: right;
	margin-top:65px;
	margin-right: 145px;
	color: #fffdd0;
	text-align: justify;
}

.footer-photo{
	width: 420px;
	float: left;
	margin: 25px;
}

.footer-photo img{
	width: 420px;
}