/*about-me style */

#about-me{
	width: 97%;
	color: #454647;
	float: left;
}

.biography{
	width: 50%;
	text-align: justify;
    float: left;
    margin: 15px;
    padding: 15px;
}

.biography-photo{
	width: 30%;
    float: right;
    margin: 15px;
    padding: 15px;
}

.biography-photo img{
	width: 300px;
	border: 2px solid;
	border-color: #e2725b white #e2725b white;

}
